<!DOCTYPE html>
<html>
<head>
  <title>SongBook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Artists', artists_path %>
<%= link_to 'Songs', songs_path %>
<%= link_to 'Fill', book_fill_path, method: :post, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Clean', book_clean_path, method: :post, data: { confirm: 'Are you sure?' } %>
<%= yield %>

</body>
</html>
